.calendar-buttons {
    text-align: center;
    margin-top: 12px;
}

#profile-selector {
    float: left;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
    border-radius: 8px;
    margin-top: 12px;
}

#external-events {
    float: left;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
    border-radius: 8px;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
    border-radius: 12px;
    padding-left: 4px;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}
