#analysis-selector {
    float: left;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
    border-radius: 8px;
    margin-top: 12px;
}

.series_info {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    background-color: #5596C1;
    color: white;
    text-align: left;
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-top: 6px;
}

.data_grid {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #0F465B;
    padding: 0px 4px 0px 8px;
    font-weight: normal;
    line-height: 16px;
    height: 18px;
    text-align: right;
}

.header_grid {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 14px;
    background-color: #1b435e;
    color: #ffffff;
    font-weight: normal;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 1px;
    line-height: 18px;
    text-align: center;
}

.data_grid_center {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: black;
    background-color: lightblue;
    padding: 0px 4px 0px 20px;
    font-weight: bold;
    line-height: 16px;
    height: 18px;
}

.fancy-green .ajax__tab_header {
    background: #1b435e;
    cursor: pointer;
}

.fancy-green .ajax__tab_hover .ajax__tab_outer, .fancy-green .ajax__tab_active .ajax__tab_outer {
    /*background: url(green_left_Tab.gif) no-repeat left top;*/
    background: #3E648D;
}

.fancy .ajax__tab_header {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    font-family: sans-serif;
}

    .fancy .ajax__tab_active .ajax__tab_outer, .fancy .ajax__tab_header .ajax__tab_outer, .fancy .ajax__tab_hover .ajax__tab_outer {
        height: 46px;
    }

    .fancy .ajax__tab_active .ajax__tab_inner, .fancy .ajax__tab_header .ajax__tab_inner, .fancy .ajax__tab_hover .ajax__tab_inner {
        height: 46px;
        margin-left: 16px; /* offset the width of the left image */
    }

    .fancy .ajax__tab_active .ajax__tab_tab, .fancy .ajax__tab_hover .ajax__tab_tab, .fancy .ajax__tab_header .ajax__tab_tab {
        margin: 16px 16px 0px 0px;
    }

.fancy .ajax__tab_hover .ajax__tab_tab, .fancy .ajax__tab_active .ajax__tab_tab {
    color: #fff;
}

.fancy .ajax__tab_body {
    font-family: Arial;
    font-size: 10pt;
    border-top: 0;
    border: 1px solid #999999;
    padding: 8px;
    background-color: #ffffff;
}

.bottom-buffer {
    margin-bottom: 20px;
}
