<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="ftpTarget" value="ftp://ftp.cmegroup.com/settle/" />
    <add key="fileTemplate" value="cbt.settle.{0}.e.xml.zip" />
    <add key="riskFreeRate" value=".01" />
    <!--<add key="StorageConnectionString" value="UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://127.0.0.1;" />-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=posauneanalytics;AccountKey=GXbRYr+Sy9nN89v9/T5pA44bi5p9do3c16DsaIFHIUEMfIE3wDdq6yKMiDonBkf/gnO5CIsAt0ix0iVsDjCXdA==" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <pages>
    <namespaces>
      <add namespace="System.Web.Optimization" />
    </namespaces>
    <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>